@import url(../fonts/font.css);

:root {
    padding: 0 !important;
    margin: 0 !important;
    --primary-color: #f3f3f3;
    --black-color: #303030;
    --secondary-color: #3af2ff;
    --accent-color: #f41b6d;
    --accent2-color: #FAD700;
    --background-color: #f0f0f0;
    --shadow-color: rgba(0, 0, 0, 0.500);
    --font: 'Qanelas Soft Regular';
}


body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--font, 'Arial', sans-serif);
    background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(-- -color);
    font-family: var(--font);
}

h1 {
    font-size: 7em;
    font-weight: 800;
}

h2 {
    font-size: 5.2em;
    font-weight: 700;
}

h3 {
    font-size: 4.5em;
    font-weight: 600;
}

h4 {
    font-size: 3.5em;
    font-weight: 550;
}

h5 {
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 600;
}

h6 {
    font-size: 2em;
    font-weight: 400;
}

p {
    color: black !important;
}

a {
    letter-spacing: .9px;
    text-transform: uppercase;
    font-weight: 600;
}

ul,
ol {}

li {}

img {}




button {}

form {}

input {}

textarea {}

.healme-btn {
    display: block;
    padding: 10px 15px;
    color: #303030;
    width: 180px;
    height: 45px;
    border-radius: 8px 5px 8px 5px;
    box-shadow: 3px 3px 20px var(--shadow-color);
    background-color: var(--secondary-color);
    transition: ease-in .3s;
}

.healme-btn:hover {
    transform: scale(.95);
    border-radius: 18px 8px 18px 8px;
    box-shadow: -3px -3px 30px var(--shadow-color);

}
.glass-card{
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.25));
    box-shadow: 0 0 15px var(--shadow-color);
    border-radius: 15px;

}