@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('fonts/font.css');
:root {
    padding: 0 !important;
    margin: 0 !important;
    --primary-color: #D8E4FF;
    --black-color: #050505;
    --secondary-color: #004FFF;
    --secondary-color-light: #31AFD4;
    --accent-color: #FF007F;
    --background-color: #f3f3f3;
    --shadow-color: rgba(0, 0, 0, 0.500);
    --font: 'Qanelas Soft Regular';
}
*{
    transition: all ease-in-out .3s;
}

body {

    background-color: rgb(220, 220, 220);
    font-family: var(--font, 'Arial', sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color-light);
    font-family: var(--font);
}

h1 {
    font-size: 7em;
    font-weight: 800;
}

h2 {
    font-size: 5.2em;
    font-weight: 700;
}

h3 {
    font-size: 4.5em;
    font-weight: 600;
}

h4 {
    font-size: 3.5em;
    font-weight: 550;
}

h5 {
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 600;
}

h6 {
    font-size: 2em;
    font-weight: 400;
}

p {
    color: black;
}

a {
    letter-spacing: .9px;
    text-transform: uppercase;
    font-weight: 600;
}

.glass-card {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 0 15px var(--shadow-color);
    border-radius: 8px;

}

.header {
    border-radius: 0;
}

.profile-btn:hover .svg-icon path{
    fill: var(--secondary-color);
}
.footer a{
    position: relative;
}
.header .nav-items::before, 
.footer a::before {
    position: absolute;
    content: "";
    top: 17px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    height: 3px;
    width: 0;
    transition: all ease-in-out .3s;

}

.header .nav-items:hover,
.footer a:hover {
    color: var(--secondary-color);
    transition: all ease-in-out .3s;
}

.header .nav-items:hover::before,
.footer a:hover ::before {
    width: 99%;
}

.hero {
    height: auto;
    min-height: 100vh !important;
    overflow: hidden !important;
}

.hero-bg{
    opacity: .2;
    width: 100vw !important ;
}

.active {
    display: block;
}

.hide {
    display: none;
}

/* Login/signup */
.login-box .user-box label {
    position: absolute;
    top: 18%;
    bottom: 0;
    left: 15px;
    font-size: 16px;
    color: var(--black-color);
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    z-index: 5;
    top: 0;
    left: 5px;
    color: var(--black-color);
    font-size: 14px;
}